<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cr do 7</title>
</head>
<body>
    <h1>Desculpa greg</h1>
</body>
</html>