<!-- Cabecalho principal -->
<%- include('partials/header') %>

<!-- conteudo do index -->
<main>
    <h1>ESTOU NO CADASTRO</h1>
    
</main>

<!-- Rodape de todas as paginas -->
<%- include('partials/footer') %>