<%- include('../partials/header') %>

    <!-- conteudo do index -->
    <main class="container d-flex flex-column flex-fill justify-content-center">
        <h1 class="text-center">PAGINA DE CADASTRO DE PRODUTOS</h1>
        <form action="/produtos/cadastrar" method="POST">
            <div class="mb-3">
                <!-- caixinha nome de usuario -->
                <label for="inputName" class="form-label fs-2 mt-2">
                    Produto
                </label>
                <input type="text" id="inputNome" class="form-control form-control-lg" placeholder="Digite um produto"
                    name="nome" required>

                <label for="inputDescricao" class="form-label fs-2 mt-2">
                    Descrição
                </label>
                <input type="text" id="inputDescricao" class="form-control form-control-lg"
                    placeholder="Digite uma descrição" name="Descricao" required>
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label fs-2 mt-2">
                            Tipo produto
                        </label>
                        <select name="categoria" class="form-select form-select-lg">
                            <option value="Alimentos">Alimentos</option>
                            <option value="Brinquedos">Brinquedos</option>
                            <option value="Futebol"> Futebol</option>
                        </select>
                        <label for="inputPreco" class="form-label fs-2 mt-2">
                            Preço
                        </label>
                        <input type="number" id="inputPreco" class="form-control form-control-lg"
                            placeholder="Digite um Preço" name="preco" required>
                        <label for="inputQuantidade" class="form-label fs-2 mt-2">
                            Quantidade
                        </label>
                        <input type="number" id="inputQuantidade" class="form-control form-control-lg"
                            placeholder="Digite uma Quantidade" name="Quantidade" required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputImagem" class="form-label fs-2 mt-2">
                            Imagem produto
                        </label>
                        <input type="url" id="inputImagem" class="form-control form-control-lg"
                            placeholder="Digite o link da imagem" name="imagem" required>
                        <img style="height: 200px; width: 200px;" class="d-flex mx-auto mt-3"
                            src="https://www.malhariapradense.com.br/wp-content/uploads/2017/08/produto-sem-imagem.png"
                            alt="">
                    </div>
                </div>




                <!-- botao enviar formulario -->
                <button type="submit" class="btn btn-lg btn-primary mt-4"> Cadastra </button>
            </div>
        </form>
    </main>

    <!-- Rodape de todas as paginas -->
    <%- include('../partials/footer') %>